* {
  margin: 0;
  font-size: 20px;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif, arial;
  background-color: #252830;
  color: #afb6cd;
}

.startsidan {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header,
.footer {
  background-color: #131417;
  width: 100%;
}

.header h1 {
  color: #afb6cd;
  font-size: 60px;
  padding: 20px;
  font-family: 'Ubuntu', sans-serif;

}

.header span {
  font-size: 50px;
  color: #cc2366;
  text-shadow: 2px 2px 10px #cc2366;
  font-family: 'Ubuntu', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  align-items: center;
  gap: 25px;
}

.navbar a {
  text-decoration: none;
  color: #afb6cd;
}

/*.navbar>a:hover,
.navbar a:focus {
  background: #252830;
  width: 85px;
  height: 30px;
  font-size: 25px;
}*/
.link {
  display: flex;
  position: relative;
  gap: 25px;
}

.link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #cc2366;
  border-radius: 4px;
  scale: 0 1;
  transform-origin: right;
  transition: scale 0.25s;
}

.link:hover::before {
  scale: 1;
  transform-origin: left;
  font-size: 18px;
}

.dropbtn {
  border: none;
  outline: none;
  background: transparent;
  color: #afb6cd;
  font-size: 24px;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #252830;

}

.menu {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  background-color: #252830;
  z-index: 1;
  display: none;
  box-shadow: 2px 2px 3px #252830;
  margin-top: 20px;
  margin-left: -30px;
  width: 80px;
}

.dropdown-content a {
  padding: 10px;
  display: block;
}

.dropdown-content a:hover {
  background-color: #131417;
  font-size: 30px;
}

.show {
  display: block;
}

header .fa-facebook:hover {
  color: #3b5998;
}

header .fa-instagram:hover {
  color: #cc2366;
}

header .fa-twitter:hover {
  color: #1DA1F2;
}

header .fa-youtube:hover {
  color: #FF0000;
}

/*========================= nya koder LÄGG TILL =======================*/
.text-continer {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: #afb6cd 1px solid;
  box-shadow: 1px 1px 4px #afb6cd;
  padding: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20%;
}

h1 span {
  color: #cc2366;
  text-shadow: #cc2366 1px 1px 3px;
}

.video {
  margin: 2rem;
  padding: 0;
  width: 80%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 4 54%;
}

section {
  padding: 1rem;
}

section h5 {
  padding: .5rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  margin: 1em;
  padding: 1rem;
  height: 86%;
  /* position: absolute;
  top: 18rem;
  left: 1rem;*/
  width: 20%;
  outline: #131417 1px solid;
  box-shadow: #131417 2px 2px 2px;
  border-radius: 20px;
}

.side-info a,
.side-two a {
  color: #afb6cd;
}

.side-info h5 {
  padding: 30px;
  color: #cc2366;
  margin: 20px;
}

.side-info a:hover,
.side-two a:hover {
  font-size: 25px;
}

/*.side-info-tow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2em;
  padding: 1rem;
  height: 86%;
  position: absolute;
  top: 18rem;
  right: 1rem;
  width: 20%;
  outline: #131417 1px solid;

  border-radius: 20px;
}*/

.info-two:hover,
.info-two:focus {
  box-shadow: #131417 2px 2px 2px;

}


.footer {
  background-color: #131417;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}


.footer h6 {
  font-size: 20px;
  padding: 1rem;
}

footer span {
  color: #cc2366;
  font-size: 20px;
}

.footer a {
  padding: .5rem;
  text-decoration: none;
  color: #afb6cd;
}

.links-int {
  /*position: absolute;
  top: 110rem;
  bottom: 100rem;
  right: 22rem;
  transform: translate(-50%, -50%);
  width: 550px;*/
  display:block;
}
#copyr{
  display: flex;
  justify-content: center;
  padding: 30px;
}

.links-int ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.links-int ul li {
  width: 70px;
  height: 72px;
  line-height: 60px;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 5px solid #252830;
  float: left;
  transition: all 0.8s ease;
}

.links-int ul li .fa {
  color: #D8E2DC;
  margin-top: 20px;
  transition: all 0.8s ease;
}

.links-int ul li:hover.facebook {
  border: 5px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.8s ease;
}

.links-int ul li:hover .fa-facebook {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.8s ease;
}

.links-int ul li:hover.instagram {
  border: 5px solid #bc2a8d;
  box-shadow: 0 0 15px #bc2a8d;
  transition: all 0.8s ease;
}

.links-int ul li:hover .fa-instagram {
  color: #bc2a8d;
  text-shadow: 0 0 15px #bc2a8d;
  transition: all 0.8s ease;
}

.links-int ul li:hover .fa-envelope {
  color: #1DA1F2;
  text-shadow: 0 0 15px #1DA1F2;
  transition: all 0.8s ease;
}

.links-int ul li:hover.Email:hover {
  border: 5px solid #1DA1F2;
  box-shadow: 0 0 15px #1DA1F2;
  transition: all 0.8s ease;
}

.links-int ul li:hover.youtube {
  border: 5px solid #FF0000;
  box-shadow: 0 0 15px #FF0000;
  transition: all 0.8s ease;
}

.links-int ul li:hover .fa-youtube {
  color: #FF0000;
  text-shadow: 0 0 15px #FF0000;
  transition: all 0.8s ease;
}

/*====================== subpage =========================*/
.subpage {
  background-color: #252830;
  color: #afb6cd;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.container-test {
  display: flex;
  flex: 0 0 44%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 60%;
  margin: 30px;
}
#text-p1{
  padding: 10px;
}
#text-p3{
  padding:10px;
}
#text-p2{
  padding: 10px;
}

hr {
  border: #cc2366 2px solid;
  display: block;
  width: 200%;
  margin-left: 1px;
}

.text-table-two p {
  font-size: 20px;
  padding: 10px;
}

.text-table-one img {
  padding: 20px;
}

.text-table-two img {
  width: 400px;
  padding: 10px;
  overflow: hidden;
}

ol .list-two {
  list-style-type: upper-alpha;
}

.container {
  width: 40%;
}

.bilder {
  display: flex;
  height: 20rem;
  gap: 1rem;
  margin: 30px;
}

.bilder>div {
  flex: 1;
  border-radius: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: all .8s cubic-bezier(.25, .4, .45, 1.4);
}

.bilder>div:hover {
  flex: 3;
}

.radio-chek {
  width: 60%;
  margin: 40px;
  padding: 10px;
  -webkit-animation: shake-tl 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  animation: shake-tl 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;

}

@-webkit-keyframes shake-tl {

  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }

  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }

  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }

  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }

  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }

  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}

@keyframes shake-tl {

  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }

  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }

  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }

  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }

  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }

  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}

.btn {
  width: 200px;
  height: 200px;
  margin: 10px;
}

#btn {
  border: 2px solid #131417;
  background: transparent;
  color: #afb6cd;
  font-family: inherit;
  padding: 10px;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  display: block;
  position: relative;
  transition: all .37s;
}

#btn p {
  z-index: 2;
  position: relative;
}

#btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #cc2366;
  border-radius: 10px;
  transition: all .37s;
}

#btn:hover {
  color: #afb6cd
}

#btn:hover:after {
  width: 100%;
}

.radio-chek fieldset {
  font-size: 9px;
  padding: 20px;
}

footer img {
  width: 150px;
  border-radius: 50%;
}

.footer .footer-img {
  width: 30%;
  display: block;
  position: absolute;
  left: 1rem;
}

.links-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 10%;
}
.contakt-form{
  margin: 4rem;
  border: 1px solid #131417;
  display: block;
  width: 50%;
  box-shadow:  0 0  15px #cc2366;

}
.header-title{
  padding: 20px;
  font-family: inherit;
  color:#cc2366;
  font-size: 50px;
}
.m-7{
  padding: 10px;
  margin: 30px;
}
.input-name1{
  display: flex;
  border: none;
  outline: none;
  background-color: transparent ;
  border-bottom: 1px solid #cc2366;
  padding: 10px;
  margin: 20px;
}
.input-name2{
  /*display: flex;*/
  border: none;
  outline: none;
  background-color: transparent ;
  border-bottom: 1px solid #cc2366;
  padding: 10px;
  margin: 20px;
}
.input-name3{
  display: flex;
  border: none;
  outline: none;
  background-color: transparent ;
  border-bottom: 1px solid #cc2366;
  padding: 10px;
  margin: 20px;
  
}
.button-submit{
  border: 2px solid #131417;
  background: transparent;
  color: #afb6cd;
  font-family: inherit;
  padding: 10px;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  display: block;
  position: relative;
  transition: all .37s;

}
.button-submit:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #cc2366;
    border-radius: 10px;
    transition: all .37s;
}
.button-submit p{
  z-index: 2;
  position: relative;
}
.button-submit:hover{
  color: #afb6cd;
  
}
.button-submit:hover:after {
  width: 100%;
  z-index: 1;
}
.links-int1{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20rem;
  right: 30rem;
}
.links-int1 ul{
  list-style: none;
}.links-int1 ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.links-int1 ul li {
  width: 70px;
  height: 72px;
  line-height: 60px;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 5px solid #252830;
  float: left;
  transition: all 0.8s ease;
}

.links-int1 ul li .fa {
  color: #D8E2DC;
  margin-top: 20px;
  transition: all 0.8s ease;
}

.links-int1 ul li:hover.facebook {
  border: 5px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.8s ease;
}

.links-int1 ul li:hover .fa-facebook {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.8s ease;
}

.links-int1 ul li:hover.instagram {
  border: 5px solid #bc2a8d;
  box-shadow: 0 0 15px #bc2a8d;
  transition: all 0.8s ease;
}

.links-int1 ul li:hover .fa-instagram {
  color: #bc2a8d;
  text-shadow: 0 0 15px #bc2a8d;
  transition: all 0.8s ease;
}

.links-int1 ul li:hover .fa-envelope {
  color: #1DA1F2;
  text-shadow: 0 0 15px #1DA1F2;
  transition: all 0.8s ease;
}

.links-int1 ul li:hover.Email:hover {
  border: 5px solid #1DA1F2;
  box-shadow: 0 0 15px #1DA1F2;
  transition: all 0.8s ease;
}

.links-int1 ul li:hover.youtube {
  border: 5px solid #FF0000;
  box-shadow: 0 0 15px #FF0000;
  transition: all 0.8s ease;
}

.links-int1 ul li:hover .fa-youtube {
  color: #FF0000;
  text-shadow: 0 0 15px #FF0000;
  transition: all 0.8s ease;
}
.links-int1 hr{
  width: 20rem;
  margin: 30px;
}
.links-int1 p{
  font-size: 15px;
  padding: 10px;
  margin: 20px;
}


@media screen and (max-width:600px) {
  * {
    margin: 0;
    font-size: 20px;
    box-sizing: border-box;


  }

  body {
    font-family: 'Ubuntu', sans-serif, arial;
    background-color: #252830;
    color: #afb6cd;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 50px;
    overflow: scroll;

  }

  .text-continer {
    margin: 20px;
    display: flex;
    flex-direction: column;
    border: #afb6cd 1px solid;
    box-shadow: 1px 1px 4px #afb6cd;
    padding: 10px;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 20%;
    overflow: hidden;

  }

  .video {
    flex: 0 0 80%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 40%;
  
  }

  #videoone {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex: 0 0 44%;
    width: 100%;
    height: 100%;
  }

  iframe {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
    
  }


  .side-info h5 {
    padding: 1px;
    color: #cc2366;
    margin: 2px;
  }

  .side-info-tow h5 {
    padding: 1px;
    color: #cc2366;
    margin: 2px;
  }

  .side-info-tow a {
    color: #afb6cd;
  }

  #info-side-one {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
    padding: 2rem;
    overflow: hidden;
  }

  /*.info-two {
    display: none;
    justify-content: end;
    width: 20%;
    height: 40%;
    margin-top: 10rem;
  }*/

  .dropdown-content {
    font-size: 30px;
    z-index: 1;
    background-color: #131417;
  }

  .dropdown-content a {
    padding: 2rem;
  }

  .footer {
    background-color: #131417;
    margin: 0;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    height: 40%;
    overflow: hidden;

  }

  .subpage {
    background-color: #252830;
    color: #afb6cd;
    margin:0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: serif;
    
  }

  .container-test {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    flex: 0 0 100%;

    width: 100%;
    margin:0;
    

  }

  .text-table-one img {
    padding: 10px;
  

    
  }

  .text-table-two img {
    width: 300px;
    

    
  }

  .container {
    width: 90%;
    

  }

  .bilder {
    display: flex;
    height: 20rem;
    gap: 1rem;
    margin: 30px;
    
    
  }

  .bilder>div {
    flex: 1;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all .8s cubic-bezier(.25, .4, .45, 1.4);
    

  
  }
  .bilder>div:hover .bilder>div:focus {
    flex: 3;
    

  }

  .radio-chek {
    width: 80%;
    margin: 40px;
    padding: 20px;
    -webkit-animation: shake-tl 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: shake-tl 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  

  
  }
  #output{
    padding: 10px;
    
    
  }
  /*.links-int {
    display: flex;
    justify-content: center;
    width: 30%;
    overflow: hidden;
    
  }*/
  .subpage .footer{
    width: 100%;
    display: block;
    height: 100%;
    margin-top: 100px;
    

    
  
  }
  .subpage .footer-img img{
    width: 70px;
    

    
  }
  .subpade.footer-img{
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex: 0 0 44%;
    

    padding: 20px;
  }
  .links-int {
    display: block;
    z-index: 1;
    width: 100%;
    overflow: hidden;
    margin: 2px;
    padding-bottom:40px;
    padding-top: 10px;
    

  }
  .links-int #copyr{
    display: flex;
    width: 400px;
    padding: 10px;
    margin: 10px;
    

  
  }
  .footer h6{
    text-align: center;
    
  }
  hr {
    border: #cc2366 2px solid;
    display: block;
    width: 100%;
    margin-left: 1px;
    overflow: hidden;
  }
  .contakt-form{
    margin: 10px;
    border: 1px solid #131417;
    display: block;
    width: 100%;
  }
  .links-int1{
    display: hidden
  }
  output{
    color:inherit;
    }
}